doctype 5
html
  head
    title "SVMP Admin"
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/main.css')

  body
    div.container-narrow
      include ../header
      block content

