<div class='row'>
    <div class="span8">
        <h3>Change Password</h3>
        <form class="form-horizontal" name="form" novalidate>
            <div data-ng-show='message.length > 0' class='alert'>
                <strong>Oops there was a problem!</strong> {{message}}
            </div>
            <div class="control-group">
                <label class="control-label">Username:</label>
                <div class="controls">
                    {{user.username}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPw">New Password:</label>

                <div class="controls">
                    <input type="text" data-ng-model="user.password" id="inputPw" placeholder="Password" required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPwConf">New Password Again:</label>

                <div class="controls">
                    <input type="text" data-ng-model="user.password_conf" id="inputPwConf"
                           placeholder="Confirm Password" required/>
                </div>
            </div>

            <div class="form-actions">
                <button data-ng-click="save(user)" data-ng-disabled="form.$invalid || passwordDontMatch(user)"
                        class='btn'>Save
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" data-ng-click="cancel()">Cancel</button>
            </div>

        </form>
    </div>
</div>