<div class='row'>
    <div class="span8">
        <h3>Edit User</h3>

        <form class="form-horizontal" name="form" novalidate>
            <div class="control-group">
                <label class="control-label" for="inputUsername">Username:</label>

                <div class="controls">
                    <input type="text" data-ng-model="user.username" id="inputUsername" placeholder="Username"
                           required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputVMIP">VM IP:</label>

                <div class="controls">
                    <input type="text" data-ng-model="user.vminstance_ip" id="inputVMIP"
                           placeholder="VM IP (optional)"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputVMPort">VM Port:</label>

                <div class="controls">
                    <input type="text" data-ng-model="user.vminstance_port" id="inputVMPort"
                           placeholder="VM Port (optional)"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRole">Admin Permission:</label>

                <div class="controls">
                    <select data-ng-model="user.admin" id="inputRole">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="/#/change/{{user._id}}">Change User's Password</a>
                </div>
            </div>

            <div class="form-actions">
                <button data-ng-click="save(user)" data-ng-disabled="form.$invalid || passwordDontMatch(user)"
                        class='btn'>Save
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn" data-ng-click="cancel()">Cancel</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" data-ng-click="remove()" data-ng-show="user._id" class="btn btn-danger">Delete
                    User
                </button>
            </div>

        </form>
    </div>
</div>

