<div class='row'>
    <div class="span8">
        <h3>Users</h3>
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="5">
                    <a href="/#/new/" class="btn pull-right"><i class="icon-plus"></i> Add</a>
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Username</th>
                <th>VM Instance Id</th>
                <th>VM IP</th>
                <th>VM Port</th>
                <th>Admin ?</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in users | orderBy:'username'">
                <td><a href="/#/edit/{{user._id}}">{{user.username}}</a></td>
                <td>{{user.vminstance_id}}</td>
                <td>{{user.vminstance_ip}}</td>
                <td>{{user.vminstance_port}}</td>
                <td data-ng-class="{'flask-error': user.admin}">{{user.admin}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
