doctype 5
html
  head
    title "SVMP Admin"
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/main.css')
  body
    div.container-narrow
      div.masthead
        h3.muted
          a(href="/") SVMP Admin
        hr
        h1 Oops there was a problem...
        a(href="/") Return to App